body {
    box-sizing: border-box;
    width: auto;
    margin: 0;
}

.column {
    float: left;
    padding: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.map {
    width: 72%;
    background: #D8D8D8 url("../assets/site/mapblue.jpg") no-repeat fixed center;
    background-size: cover;
    height: 800px;
}

.details {
    position: relative;
    width: 25%;
    background-color: grey;
    height: 800px;
}

.map>div {
    position: relative;
    float: left;
    padding: 10px;
}

.details>img {
    width: 100%;
}

img {
    width: 60px;
}

p {
    font-family: 'Bellefair', serif;
    font-size: 0.8em;
    font-variant: small-caps;
}

h1 {
    font-family: 'Bellefair', serif;
    font-variant: small-caps;
    text-align: center;
}

input {
    position: absolute;
    top: 550px;
}