body {
    box-sizing: border-box;
    width: auto;
    margin: 0;
}

.map {
    width: 75%;
    background: #D8D8D8 url("../assets/site/mapblue.jpg") no-repeat fixed center;
    background-size: cover;
    height: 800px;
}

.details {
    position: fixed;
    width: 25%;
    top: 0;
    right: 0;
    background-color: grey;
    height:
}

.map>div {
    position: relative;
    float: left;
    padding: 10px;
    text-align: center;
    width: 100px;
    height: 120px;
}

.details>img {
    width: 90%;
    margin: auto;
    padding: 0 5% 5% 5%;
}

img {
    width: 75px;
}

p {
    width: 90%;
    margin: auto;
    padding: 0 5%;
    font-family: 'Bellefair', serif;
    font-size: 0.8em;
    font-variant: small-caps;
}

h1 {
    font-family: 'Bellefair', serif;
    font-variant: small-caps;
    text-align: center;
}

form {
    position: relative;
    width: 100%;
    padding: 5%;
}